body {
	margin: 0;
	padding: 0;
	/*background: #FBEFEF;*/
	background: #f8f8ff;
	/*background: #FFFFEE;*/
	/*font-size: 12px;*/
	overflow: auto;
}

#animation {
	float: left;
	width:670px;
	height:625px;
}

#garden {
	width: 100%;
	height: 100%;
}

#elapseClock {
	text-align: right;
	font-size: 18px;
	margin-top: 40px;
	margin-bottom: 10px;
}

#words {
	font-family: 'Satisfy', cursive;
	/*font-family: "sans-serif";*/
	/*font-family: Tangerine; */
	width: 500px;
	font-size: 24px;
	color:#666;
}

#messages{
	display: none;
}

#elapseClock .digit{
	/*font-family: "digit";*/
	/*font-family: 'Londrina Shadow', cursive;*/
	font-family: digit, 'Joti One';
	/*font-family: 'Joti One', cursive;*/
	font-size: 36px;
}

#hope{
	padding: 5px;
	font-size: 22px;
	margin-top: 100px;
	margin-right: 130px;
	text-align: right;
	display: none;
}

#hope .signature{
	margin-top: 10px;
	font-size: 20px;
	font-style: italic;
	/*color: blue;*/
	color: #8904B1;
}

#clickSound{
	display:none;
}

#code {
	float: left;
	width: 440px;
	height: 645px;
}
#code pre code {
	background: none;
}

#copyright{
	clear: both;
	margin-top: 10px;
	text-align: center;
	width:100%;
	color:#333333;
	font-family: Helvetica;
	font-size: 14px;
	line-height: 20px;
}

#errorMsg{
	width: 100%;
	text-align: center;
	font-size: 24px;
	position: absolute;
	top: 100px;
	left:0px;
}

#copyright a{
	color:#666;
	text-decoration: none;

}